/* Common styles for both header and footer */
.header-footer {
    background-color: #0047AB; /* Dark blue background */
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: Arial, sans-serif;
  }
  
  /* Specific styles to ensure text is properly aligned and displayed */
  .header-footer h3 {
    margin: 0;
    font-size: 18px; /* Adjust size as needed */
  }
  

  @media (max-width: 768px) {
    .header-footer h3 {
      font-size: 16px; /* Smaller text on smaller screens */
      padding: 8px 10px; /* Adjust padding to maintain proportion */
    }
  }
  